{{/*
	Structure SEO Data for a given page
	+ print tags
	+ print jsonld

	@author The New Dynamic

	@access public

	@context Page

	@example - Go Template
		{{ partial "utils/seo/tags" . }}

  TODO:
    - [ ] Improve type test on "events", `article` seems very opinated.
		- [ ] Find a reasonable default image when `$settings.default_share_image` is not set.
		- [ ] Twitter can sport "author" handle on top of the site's. Devise a test for author?
		- [ ] Maybe consider another approach to set the twitter_card (summary, etc...)
		- [ ] Not sure about image size. Following https://docs.imgix.com/best-practices/improving-seo-traffic, we have a
			square of 800x800 */}}


{{/*------------------------------
	BUILDING SCRATCH SEO OBJECT
	------------------------------ */}}

{{/* Adding the seo map to scratch which will recieve SEO key/value pairs. */}}
{{ $s := newScratch }}
{{ $s.Set "seo" dict }}

{{ $seo_params := dict }}
{{ with .Params.seo }}
  {{ $seo_params = . }}
  {{ with partialCached "utils/get-params" . . }}
    {{ $seo_params = . }}
  {{ end }}
{{ end }}

{{ $settings := partialCached "utils/get-settings" . }}

{{/* Dates
	----------------------------- */}}
{{ if not .PublishDate.IsZero }}
{{ $s.SetInMap "seo" "published_time" (.PublishDate.Format "2006-01-02T15:04:05-07:00") }}
{{ else if not .Date.IsZero }}
{{ $s.SetInMap "seo" "published_time" (.Date.Format "2006-01-02T15:04:05-07:00") }}
{{ else }}
  {{ with .Params.sys.created_at }}
    {{ $s.SetInMap "seo" "published_time" (dateFormat "2006-01-02T15:04:05-07:00" .) }}
  {{ end }}
{{ end }}
{{ if not .Lastmod.IsZero }}
{{ $s.SetInMap "seo" "updated_time" (.Lastmod.Format "2006-01-02T15:04:05-07:00") }}
{{ else }}
  {{ with .Params.sys.updated_at }}
    {{ $s.SetInMap "seo" "updated_time" (dateFormat "2006-01-02T15:04:05-07:00" .) }}
  {{ end }}
{{ end }}

{{/* Description
	----------------------------
	We use the following order of precedence
	1. SEO Description, then, if not found,
	2. Description, then if not found,
	3. Summary then, if not found,
	4. site description  */}}
{{ $description := "" }}
{{/* 1. SEO Description */}}
{{ if $seo_params.description }}
	{{ $description = $seo_params.description }}
{{/* 2. Description
	    As it could potentially contain HTML tags, we strip them with plainify */}}
{{ else if .Description }}
	{{ $description = .Description }}
{{/* 3. Summary */}}
{{ else if .Summary }}
	{{ $description = .Summary }}
{{ else }}
{{/* 4. site description */}}
	{{ $description = site.Params.Description }}
{{ end }}

{{ with $description }}
	{{/* We make sure text is sanitzed before storing as data (to avoid html or markdown) */}}
	{{ with partialCached "utils/seo/private/santinize" $description $description }}
		{{ $s.SetInMap "seo" "description" . }}
	{{ end }}
{{ end }}

{{/* Title
  ----------------------------
	We use the following logic
	1. Every pages: `Page title | Global site title`
	2. Homepage: only `Global site title` */}}
{{ $title := "" }}
{{ with $seo_params.title }}
	{{ $title = . }}
{{ end }}
{{ if not .IsHome }}
	{{/* 1. `Page title | Global site title` */}}
	{{ $s.SetInMap "seo" "title" (printf "%s | %s" $title $settings.title) }}
{{ else }}
	{{/* 2. `Global site title` */}}
	{{ $s.SetInMap "seo" "title" $settings.title }}
{{ end }}

{{/* Site Name
	---------------------------- */}}
{{ with $settings.site_name }}
	{{ $s.SetInMap "seo" "site_name" $settings.site_name }}
{{ else }}
	{{ $s.SetInMap "seo" "site_name" $settings.title }}
{{ end }}

{{/* Image
	---------------------------- */}}
{{ $img := false }}

{{ with $settings.default_share_image }}
	{{ $img = .url }}
{{ end }}

{{ with $seo_params.share_image }}
	{{ $img = .url }}
{{ else }}
	{{/* If no SEO IMAGE is set, we look for the .Params.images slice
		and use the first one if it has an `image` key */}}
	{{ with .Params.images }}
		{{ with index . 0 }}
			{{ if reflect.IsMap . }}
				{{ with .image }}
					{{ $img = .url }}
				{{ end }}
			{{ else }}
				{{ $img = .url }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{/* Finally if after all of the conditional above we are not able to find an image for the page,
	we resolve to looking for the following: */}}
{{ if not $img }}
	{{ $img_defaults := slice "/static/logo.jpg" "/static/logo.png" "/static/logo.svg" }}
	{{ range $path := $img_defaults }}
		{{ if fileExists . }}
			{{ $img = strings.TrimLeft "/static" $path }}
		{{ end }}
	{{ end }}
{{ end }}
{{ with $img }}
	{{ $s.SetInMap "seo" "image" (. | absURL) }}
	{{ $s.SetInMap "seo" "image_absolute" (. | absURL) }}
	{{ $s.SetInMap "seo" "image_relative" . }}
{{ end }}

{{/* Twitter
	---------------------------- */}}
{{ with $img }}
	{{/* Most of the time we should have an image */}}
	{{ $s.SetInMap "seo" "twitter_card" "summary_large_image" }}
{{ else }}
	{{/* For edge cases without: */}}
	{{ $s.SetInMap "seo" "twitter_card" "summary" }}
{{ end }}

{{/* We check the site config sports a Social.twitter and use as handle */}}
{{ with .Site.Social.twitter }}
	{{ $s.SetInMap "seo" "twitter_handle" (printf "@%s" .) }}
{{ end }}

{{/* We check if the page is not set as private */}}
{{ with $.Params.seo.private }}
	{{ $s.SetInMap "seo" "private" true }}
{{ end }}
{{ with $.Params.private }}
	{{ $s.SetInMap "seo" "private" true }}
{{ end }}

{{/* Type
	---------------------------- */}}
{{ $s.SetInMap "seo" "type" "website" }}

{{ if in (slice "blog" "news") .Type }}
	{{ $s.SetInMap "seo" "type" "article" }}
{{ else if in (slice "article") .Type }}
	{{ $s.SetInMap "seo" "type" "event" }}
{{ end }}

{{/* Robots
	---------------------------- */}}
{{ with $seo_params }}
   {{ $no_index := .no_index | default false }}
   {{ $no_follow := .no_follow | default false }}
{{ $s.SetInMap "seo" "no_index" $no_index }}
{{ $s.SetInMap "seo" "no_follow" $no_follow }}
{{ end -}}

{{/* Locale and translations
	---------------------------- */}}
{{ $s.SetInMap "seo" "locale" .Lang }}

{{ $translations := slice }}
{{ if .IsTranslated }}
	{{ range .Translations }}
			{{ $translations = $translations | append (dict "code" .Lang "permalink" .Permalink) }}
	{{ end }}
{{ $s.SetInMap "seo" "translations" $translations }}
{{ end }}

{{/* Canonical
---------------------------- */}}
{{ $s.SetInMap "seo" "canonical" .Permalink }}

{{ $seo := $s.Get "seo" }}
{{ if templates.Exists "partials/utils/seo/data.html" }}
  {{ $seo = partial "utils/seo/data" (dict "seo" $seo "Page" $) }}
{{ end }}

{{ with $seo }}
  {{ $s.SetInMap "jsonld" "@context"  "https://schema.org" }}
  {{ $s.SetInMap "jsonld" "@type"  .type }}
  {{ $s.SetInMap "jsonld" "headline" .title }}
  {{ $s.SetInMap "jsonld" "image" .image }}
  {{ $s.SetInMap "jsonld" "url"  $.Permalink }}
  {{ $s.SetInMap "jsonld" "datePublished" .published_time }}
  {{ $s.SetInMap "jsonld" "dateModified" .updated_time }}
  {{ $s.SetInMap "jsonld" "description" .description }}
  {{ with $seo.jsonld }}
    {{ $s.Set "jsonld" (merge ($s.Get "jsonld") . ) }}
  {{ end }}
{{ end }}
{{ with $s.Get "jsonld" }}
  {{ $seo = merge $seo (dict "jsonld" .) }}
{{ end }}

{{ return $seo }}
