.c-headline {
  font-weight: 600;
  line-height: var(--#{$line-height}-heading);
  color: var(--#{$color}-text);

  &--h1 {
    font-size: var(--#{$font}-size-h1);
  }

  &--h2 {
    font-size: var(--#{$font}-size-h2);
  }

  &--h3 {
    font-size: var(--#{$font}-size-h3);
  }

  &--h4 {
    font-size: var(--#{$font}-size-h4);
  }

  &--h5 {
    font-size: var(--#{$font}-size-h5);
  }

  + .c-headline {
    color: var(--#{$color}-text-silent);
  }
}
