{{- $globals := .globals -}}
{{- $context := .context | default dict -}}

<footer class="m-footer">
  <div class="o-wrapper">
    <p class="c-paragraph">
      {{ i18n "pages" | default "Pages" }}:
      {{ range $globals.Site.Pages.ByParam "url" }}
        <a class="m-footer__link" href="{{ .Permalink }}">
          {{ .Params.title | default "Page" }}
        </a>
      {{ end }}
    </p>
    <p>
      {{ i18n "translations" | default "Translations" }}:
      {{- $siteLanguages := $globals.Site.Languages }}
      {{- $pageLang := $globals.Page.Lang }}
      {{- range $globals.Page.AllTranslations }}
        {{- $translation := . }}
        {{- range sort $siteLanguages "Weight" "asc" }}
          {{- if eq $translation.Lang .Lang }}
            {{- $isLangCurrent := eq $pageLang .Lang }}
            <a
              class="m-footer__link {{- if $isLangCurrent }}m-footer__link--active{{ end }}"
              href="{{ $translation.Permalink | relURL }}"
            >
              {{- .Params.languageName -}}
            </a>
          {{- end }}
        {{- end }}
      {{- end }}
    </p>
  </div>
</footer>
