{{- $globals := .globals -}}
{{- $context := .context | default dict -}}
{{- $options := .options | default dict -}}
{{- $params := (merge $context $options) -}}

<header class="m-header">
  <div class="o-wrapper m-header__wrapper">
    <a class="m-header__logo" href="{{ $globals.Site.Home.Permalink }}" title="{{ $globals.Site.Title }}">
      {{- if os.FileExists "/static/img/logo.svg" -}}
        {{- readFile "/static/img/logo.svg" | safeHTML -}}
      {{- end -}}
    </a>
    {{ partial "components/c-menu" (dict
      "globals" $globals
      "context" (dict "name" "main")
      "options" (dict "class_name" "m-header__menu")
    )}}
  </div>
</header>
