{{- $globals := .globals -}}
{{- $context := .context | default dict -}}
{{- $options := .options | default dict -}}
{{- $params := (merge $context $options) -}}

{{- $class_name := partialCached "utils/get-class-names" (dict
  "class" "c-editorial"
  "context" $params
) . -}}

{{- $overline := $params.overline -}}
{{- $headline := $params.headline -}}
{{- $subline := $params.subline -}}
{{- $text := $params.text -}}
{{- $media := $params.media -}}
{{- $links := $params.links | default dict -}}
{{- $overline_tag := $params.overline_tag | default "div" -}}
{{- $headline_tag := $params.headline_tag | default "h3" -}}
{{- $subline_tag := $params.subline_tag | default "div" -}}
{{- $layout := $params.layout | default "default" -}}

{{- $partialPath := printf "components/c-editorial/%s.html" $layout -}}
{{- if and (ne $layout "default") (templates.Exists ( printf "partials/%s" $partialPath )) -}}
  {{ partial $partialPath . }}
{{- else -}}
  <div class="{{ $class_name }}">
    <div class="c-editorial__inner">
      {{- with $media -}}
        {{- partialCached "utils/get-partial" (dict
          "context" .
          "globals" $globals
          "options" (dict "class_name" "c-editorial__media")
        ) . -}}
      {{- end -}}
      <div class="c-editorial__body">
        {{- with $overline -}}
          {{- partial "components/c-headline" (dict
            "globals" $globals
            "context" (dict
              "tag" $overline_tag
              "class_name" "c-editorial__overline"
              "modifier" ""
              "text" .
            )
          ) -}}
        {{- end -}}
        {{- with $headline -}}
          {{- partial "components/c-headline" (dict
            "globals" $globals
            "context" (dict
              "tag" $headline_tag
              "class_name" "c-editorial__headline"
              "modifier" ""
              "text" .
            )
          ) -}}
        {{- end -}}
        {{- with $subline -}}
          {{- partial "components/c-headline" (dict
            "globals" $globals
            "context" (dict
              "tag" $subline_tag
              "class_name" "c-editorial__subline"
              "modifier" ""
              "text" .
            )
          ) -}}
        {{- end -}}
        {{- with $text -}}
          {{- with $text -}}
            {{- partial "components/c-text" (dict
              "globals" $globals
              "context" (dict
                "class_name" "c-editorial__text"
                "text" .
              )
            ) -}}
          {{- end -}}
        {{- end -}}
        {{- range $links -}}
          {{ $link :=  partialCached "utils/get-params" . }}
          {{- partialCached "components/c-link" (dict
            "context" $link
            "globals" $globals
            "options" (dict "class_name" "c-editorial__link")
          ) . -}}
        {{- end -}}
      </div>
    </div>
  </div>
{{- end -}}
