{{- $globals := .globals -}}
{{- $context := .context | default dict -}}
{{- $options := .options | default dict -}}
{{- $params := (merge $context $options) -}}

{{- $class_name := partialCached "utils/get-class-names" (dict
  "class" "c-module-header"
  "context" $params
) . -}}

{{- $title := $params.title -}}
{{- $subtitle := $params.subtitle -}}
{{- $text := $params.text -}}


<div class="{{- $class_name -}}">
  {{- with $title -}}
    {{- partial "components/c-headline" (dict
      "globals" $globals
      "context" (dict
        "tag" "h2"
        "text" .
        "class_name" "c-module-header__title"
      )
    ) -}}
  {{- end -}}
  {{- with $subtitle -}}
    {{- partial "components/c-headline" (dict
      "globals" $globals
      "context" (dict
        "tag" "h3"
        "text" .
        "class_name" "c-module-header__subtitle"
      )
    ) -}}
  {{- end -}}
  {{- with $text -}}
    {{- partial "components/c-text" (dict
      "globals" $globals
      "context" (dict
        "text" .
        "class_name" "c-module-header__text"
      )
    ) -}}
  {{- end -}}
</div>
