{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "plugins": ["prettier"],
  "extends": ["xo-space/browser", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": 0
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "extends": ["xo", "xo-typescript/space", "plugin:prettier/recommended"],
      "parser": "@typescript-eslint/parser"
    }
  ]
}
