---
inject: true
to: assets/scss/main.scss
before: '(?<=(<%= category %>\/.*\n)|(<%= h.changeCase.pascalCase(category) %>.*\n))\n'
skip_if: '"<%= category %>\/<%= h.changeCase.paramCase(contentType) -%>"'
---
@import "<%= category %>/<%= h.changeCase.paramCase(contentType) -%>";
