---
inject: true
to: assets/scss/main.scss
after: '.*(<%= category %>|<%= h.changeCase.pascalCase(category) %>)'
skip_if: <%= h.changeCase.paramCase(contentType) %>
---
@import "<%= category %>/<%= h.changeCase.paramCase(contentType) -%>";