/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-mt {}
 *   .u-pl-lg {}
 *   .u-mr-sm {}
 *   .u-p {}
 *   .u-pr-0 {}
 *   .u-ph {}
 *   .u-pv-xs {}
 */

$spacing-directions: (
  null: null,
  "t": "-top",
  "r": "-right",
  "b": "-bottom",
  "l": "-left",
  "x": "-left" "-right",
  "y": "-top" "-bottom",
) !default;
$spacing-properties: (
  "p": "padding",
  "m": "margin",
) !default;
$spacing-sizes: (
  null: var(--#{$spacing}-md),
  "-xs": var(--#{$spacing}-xs),
  "-sm": var(--#{$spacing}-sm),
  "-md": var(--#{$spacing}-md),
  "-lg": var(--#{$spacing}-lg),
  "-xl": var(--#{$spacing}-xl),
  "-0": 0,
  "-none": 0,
) !default;

@each $property-namespace, $property in $spacing-properties {
  @each $direction-namespace, $direction-rules in $spacing-directions {
    @each $size-namespace, $size in $spacing-sizes {

      .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size !important;
        }
      }
    }
  }
}

@each $size-namespace, $size in $spacing-sizes {
  .u-spacing#{$size-namespace} {
    --#{$spacing}: var(--#{$spacing}#{$size-namespace});
  }
}
