*.DS_Store*
resources
public
node_modules
.env
.hugo_build.lock

# Ignore cssg cache
.cache

# Ignore all files fetched from Contentful
data/*
content/*
static/assets/cf
i18n/*.toml
# ...except Storybook
!content/storybook
!data/storybook

# Generated config
config/_default/languages.toml

# Local Netlify folder
.netlify

# Storybook
storybook-static
build-storybook.log
