<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

{{- with site.Params.preconnect -}}
  {{ range . }}
    <link rel="preconnect" href="{{ . | safeHTMLAttr }}">
  {{ end }}
{{- end -}}

<link rel="preload" href="/fonts/CarloschiVF.woff2" as="font" type="font/woff2" crossorigin="">

{{ partial "utils/seo/tags" $ }}
{{- with site.Params.theme_color -}}
  <meta name="theme-color" content="{{ . }}">
{{- end -}}

{{ partial "structure/styles" $ }}
{{ partial "structure/scripts" $ }}

<link rel="manifest" href='{{ "site.webmanifest" | absURL }}' crossorigin="use-credentials">
<!-- TBD: Do we need absolute URLs? -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | absURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | absURL }}">
