
{{/*
  components/c-video/embed-vimeo

  Generates vimeo embed code with custom poster & lazy loading

  Paramers:

  src (string): Vimeo video url
  title (string): Video title (falls back to title stored in vimeo)
  poster_asset (dict): Contentful asset object
  loop (boolean): loop video
  controls (boolean): hide/show controls
  muted (boolean): muted/unmuted
  autoplay (boolean): autoplay video
  ratio (string): Ratio (16:9, 4:3, ...) See assets/scss/object/_o-ratio.scss for available ratios
  playicon (dict): Custom playicon object (passed to utils/svg/icon)
  nocookie (boolean): If you set this parameter to true, the player will not be able to track session data, including all cookies and statistics.

*/}}
{{- $globals := .globals -}}
{{- $context := .context | default dict -}}
{{- $options := .options | default dict -}}
{{- $params := (merge $context $options) -}}

{{- $src := $params.src -}}
{{- $loop := $params.loop -}}
{{- $poster_asset := $params.poster -}}
{{- $controls := $params.controls -}}
{{- $muted := $params.muted -}}
{{- $autoplay := $params.autoplay -}}
{{- $ratio := $params.ratio | default "16:9" -}}
{{- $nocookie := $params.nocookie | default true -}}
{{- $playicon := $params.playicon | default (dict "id" "play") -}}
{{- $title := $params.title -}}

{{- with $src -}}

  {{/* Extract video id */}}
  {{ $video_id := replaceRE ".*(?:http:|https:|)\\/\\/(?:player.|www.)?vimeo\\.com\\/(?:video\\/|embed\\/|watch\\?\\S*v=|v\\/)?(\\d*).*$" "$1" . 1 }}

  {{/* Prepare url api params */}}
  {{/* https://vimeo.zendesk.com/hc/de/articles/360001494447-Verwendung-von-Player-Parametern */}}
  {{ $query := slice "title=0" "byline=0" "portrait=0" }}
  {{- with $controls -}}
    {{ $query = $query | append "controls=1" }}
  {{- else -}}
    {{ $query = $query | append "controls=0" }}
  {{- end -}}
  {{- with $muted -}}
    {{ $query = $query | append "muted=1" }}
  {{- end -}}
  {{- with $autoplay -}}
    {{ $query = $query | append "autoplay=1" }}
  {{- end -}}
  {{- with $loop -}}
    {{ $query = $query | append "loop=1" }}
  {{- end -}}
  {{- with $nocookie -}}
    {{ $query = $query | append "dnt=1" }}
  {{- end -}}

  {{/* Build player url */}}
  {{- $url := print "https://player.vimeo.com/video/" $video_id "?" (delimit $query "&") -}}

  {{/* Try getting thumbnail & title from Vimeo oEmbed endpoint */}}
  {{- $poster_src := "" -}}

  {{- with getJSON "https://vimeo.com/api/oembed.json?url=https://vimeo.com/"  $video_id }}
    {{/* Access width & height from Vimeo embedcode to scale the thumbnail */}}
    {{- $width := 0 -}}
    {{- $height := 0 -}}
    {{- $factor := 0 -}}
    {{- with .thumbnail_width -}}
      {{- $width = . -}}
      {{- $factor = math.Round (div 1440 .) -}}
    {{- end -}}
    {{- with .thumbnail_height -}}
      {{- $height = . -}}
    {{- end -}}
    {{- with .thumbnail_url -}}
      {{- $poster_src = . }}
      {{/* Replace _WIDTHxHEIGHT part with bigger ones */}}
      {{- with $factor -}}
        {{- $poster_src = replace $poster_src (print "_" $width "x" $height) (print "_" (mul $factor $width) "x" (mul $factor $height))}}
      {{- end -}}
    {{- end -}}
    {{- with .title -}}
      {{- $title = $title | default . -}}
    {{- end -}}
  {{ else }}
      {{/* Generate Embedcode failed, possibly due to invalid Vimeo source URL */}}
      {{ warnf "Generating Vimeo embedcode failed" }}
      <div>Generating Vimdeo embedcode failed. Please make sure to use a valid source URL.</div>
  {{ end }}

  {{/* Generate srcdoc iframe placholder when autoplay is not enabled */}}
  {{- $srcdoc := false -}}
  {{- with $autoplay -}}
  {{- else -}}
    {{- $srcdoc = partial "components/c-video/embed-srcdoc" (dict
      "globals" $globals
      "context" (dict
      "poster_asset" $poster_asset
      "poster_src" $poster_src
      "src" $url
      "icon" $playicon
      )
      )
    -}}
  {{- end -}}

  {{/* Generate iframe tag */}}
  {{- with partial "utils/html/tag" (dict "name" "iframe" "attr" (dict
    "srcdoc" $srcdoc
    "class" "c-video__embed"
    "loading" "lazy"
    "src" $url
    "title" $title
    "frameborder" "0"
    "allow" "autoplay; fullscreen; picture-in-picture"
    "allowfullscreen" true
    ))
  -}}
    {{- . | safeHTML -}}
  {{- end -}}
{{- end -}}
