{{- $globals := .globals -}}
{{- $context := .context | default dict -}}
{{- $options := .options | default dict -}}
{{- $params := (merge $context $options) -}}

{{- $class_name := partialCached "utils/get-class-names" (dict
  "class" "m-list"
  "context" $params
) . -}}

{{- $header := $params.header -}}
{{- $body := $params.body -}}
{{- $layout := $params.layout -}}
{{- $columns := $params.columns | default 4 -}}

<section class="o-module m-section {{ with $class_name }}{{ . }}{{ end }}" style="--columns-desktop: {{ $columns }};">
  <div class="o-wrapper">
    {{- with $body -}}
      {{- $content := . -}}
      {{- if not (reflect.IsSlice .) -}}
        {{- $content = slice . -}}
      {{- end -}}
      <div class="m-list__body">
        {{- range $content -}}
          <div class="m-list__item">
            {{ if eq .node_type "document" }}
              {{ partial "components/c-text" (dict
                "context" (dict "text" .)
                "globals" $globals
                "options" (dict
                  "layout" $layout
                )
              ) }}
            {{ else }}
              {{ partial "utils/get-partial" (dict
                "context" .
                "globals" $globals
                "options" (dict
                  "layout" $layout
                )
              ) }}
            {{- end -}}
          </div>
        {{- end -}}
      </div>
    {{- end -}}
  </div>
</section>
