.c-image {
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  &--mobile {
    @include respond-above("md") {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include respond-above("md") {
      display: block;
    }
  }
}
